*{
	box-sizing:border-box;
	font-family:Helvetica, sans-serif;
	user-select:none;
}
body, html{
	height:100%;
	min-height:100%;
}
body{
	margin:0px;
	overflow:hidden;
}
a{
	color:black;
}
.speech_box{
	position:absolute;
	bottom:30px;
	width:calc(100% - 20%);
	max-width:calc(100% - 100px);
	left:50%;
	transform:translateX(-50%);
	border:5px black double;
	padding:15px 15px 10px 15px;
	min-height:100px;
	z-index:3;
	background-color:white;
}
.choice_area{
	position:absolute;
	top:30px;
	left:100px;
	right:100px;
	min-height:100px;
	z-index:10;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
.choice_area button{
	width:100%;
	border:2px solid black;
	background-color:white;
	font-size:20px;
	padding:15px 20px;
	margin-bottom:20px;
	cursor:pointer;
	outline:none !important;
	margin-top:20px;
}
.choice_area button:hover{
	color:white;
	background-color:black;
	border-color:white;
}
.choice_area.inactive{
	pointer-events:none;
	display:none;
}
.name{
	position:absolute;
	top:-25px;
	left:10px;
	padding:5px 8px;
	background-color:white;
	border:2px solid black;
}
.character{
	z-index:2;
	max-height:calc(100vh - 150px);
	width:100%;
	left:50%;
	/*top:30px;*/
	bottom: 120px;
	transform:translateX(-50%);
	position:absolute;
	display:inline-flex;
	max-width:100vw;
	justify-content:center;
}
.charimagewrapper{
	display:inline-flex;
    max-width: 50%;
    max-height:100%;
    overflow:hidden;
    justify-content:center;
}
.charimagewrapper img{
	object-fit:contain;
	width: auto;
    /*height: auto;*/
    max-width: 100%;
}
.background{
	position:absolute;
	z-index:1;
	width:100vw;
	height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
}
.background img{
	object-fit:cover;
	width: 100%;
  	height: 100%;
}
.event_manager{
	cursor:pointer;
	z-index:9;
	position:absolute;
	top:0px;
	left:0px;
	width:100vw;
	height:100vh;
}
.toggle_page{
	position:absolute;
	top:20px;
	left:20px;
	width: 30px;
    height: 30px;
	border:2px solid black;
	background-color:white;
	padding:15px 20px;
	cursor:pointer;
	outline:none !important;
	z-index:10;
	display:flex;
	align-items:center;
	justify-content:center;
}
.toggle_page img{
	height:15px;
	width:auto;
}
.toggle_page:hover{
	color:white;
	background-color:black;
	border-color:white;
}
.toggle_page:hover img{
	-webkit-filter: invert(1);
   filter: invert(1);
}


.toggle_pause{
	position:absolute;
	top:20px;
	left:20px;
	width: 30px;
    height: 30px;
	border:2px solid black;
	background-color:white;
	padding:15px 20px;
	cursor:pointer;
	outline:none !important;
	z-index:10;
	display:flex;
	align-items:center;
	justify-content:center;
}
.toggle_pause img{
	height:15px;
	width:auto;
}
.toggle_pause:hover{
	color:white;
	background-color:black;
	border-color:white;
}
.toggle_pause:hover img{
	-webkit-filter: invert(1);
   filter: invert(1);
}
.page,
.game_contents,
.pause_menu,
.about_page,
.load_menu,
.save_menu,
.first_time_locale,
.settings_menu,
.game_intro,
.main_menu{
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}
.game_contents{
	z-index:1;
}
.page,
.pause_menu,
.about_page,
.load_menu,
.save_menu,
.first_time_locale,
.game_intro,
.settings_menu,
.main_menu{
	z-index:999;
}
.confirm_page,
.pause_menu,
.about_page,
.load_menu,
.save_menu,
.first_time_locale,
.settings_menu,
.game_contents{
	display:none;
}
.confirm_page{
	z-index:9999;
	background:white;
}
.game_intro{
	z-index:1001;
	display: block;
	background:white;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.game_intro:before{
	opacity:0;
  	transition: opacity 1.5s;
	background: black;
	content:"";
	display:block;
	position:absolute;
	z-index:999;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
}
.game_intro.blackedout:before{
	opacity:1;
}
.first_time_locale{
	display: block;
	background:white;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.settings_menu{
	background:white;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	display:none;
}
.main_menu{
	background:white;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	display:none;
}
.confirm_page_inner{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
	padding:100px;
}
.confirm_page_inner .confirm_prompt{
	font-size:30px;
	margin-bottom:50px;
	text-align:center;
}
.confirm_page_inner .confirm_choices button{
	width:100%;
	border:2px solid black;
	background-color:white;
	font-size:20px;
	padding:15px 20px;
	margin-bottom:20px;
	cursor:pointer;
	outline:none !important;
	margin-top:20px;
}
.confirm_page_inner .confirm_choices button:hover{
	color:white;
	background-color:black;
	border-color:white;
}
.main_menu_menu{
	display:flex;
	flex-direction:column;
	padding:0px;
	margin:50px;
	position: absolute;
	right:0px;
	bottom:0px;
}
.main_menu_menu button{
	width:150px;
	border:2px solid black;
	background-color:white;
	font-size:20px;
	padding:15px 20px;
	cursor:pointer;
	outline:none !important;
	margin-top:20px;
}
.main_menu_menu button:hover{
	color:white;
	background-color:black;
	border-color:white;
}
.about_page{
	z-index: 1000;
	background:white;
}
.about_page_inner{
	padding:100px;
}
.pause_menu{
	background:rgba(255, 255, 255, 0.5);
}
.pause_menu_menu{
	max-width:200px;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	display:flex;
	flex-direction:column;
}
.pause_menu_menu button{
	width:150px;
	border:2px solid black;
	background-color:white;
	font-size:20px;
	padding:15px 20px;
	cursor:pointer;
	outline:none !important;
	margin-top:20px;
}
.pause_menu_menu>button:first-child{
	margin-top:0px;
}
.pause_menu_menu button:hover{
	color:white;
	background-color:black;
	border-color:white;
}
.save_menu,
.load_menu{
	background:white;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.inner_menu_menu{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}
.lang_selector .inner_menu_title,
.inner_menu_menu .inner_menu_title{
	font-size:30px;
	margin-bottom:15px;
	text-align:center;
}
.imm_inner{
	display:flex;
	flex-wrap:wrap;
	flex-direction:row;
	align-items:center;
	justify-content:center;
	width:500px;
}
.imm_inner .i_slot{
	border:3px solid black;
	margin:10px;
	width:150px;
	max-width:100%;
	height:100px;
	display:flex;
	justify-content:center;
	align-items:center;
	overflow:hidden;
	position:relative;
}
.i_slot .i_slot_preview{
	object-fit:cover;
	max-width:100%;
	max-height:100%;
	width: 100%;
    height: 100%;
}
.i_slot button{
	border:2px solid black;
	background-color:white;
	font-size:15px;
	padding:5px 10px;
	cursor:pointer;
	outline:none !important;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	z-index:2;
}
.i_slot button:hover{
	color:white;
	background-color:black;
	border-color:white;
}
.lang_inner{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.lang_inner button{
	width:150px;
	border:2px solid black;
	background-color:white;
	font-size:20px;
	padding:15px 20px;
	cursor:pointer;
	outline:none !important;
	margin-top:20px;
}
.lang_inner button:hover{
	color:white;
	background-color:black;
	border-color:white;
}
.lang_selector{
	display:flex;
	flex-direction:column;
	position: absolute;
	left:50%;
	top: 50%;
	transform:translate(-50%, -50%);
}
.lang{
	position:relative;
	text-align:right;
}
.lang .flag{
	width:30px;
	height:20px;
	display: inline-flex;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	position:absolute;
	left:10px;;
	top:50%;
	transform:translateY(-50%);
}
.settings_menu_inner{
	left:70px;
	top:80px;
	right:70px;
	bottom:70px;
	position: absolute;
}
.settings_split,
.settings_locale{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	align-items:center;
	margin-bottom:10px;
}
.settings_split_title,
.settings_locale_title{
	font-size:20px;
}
.settings_save_container{
	display: flex;
	justify-content: center;
	align-items:center;
	margin-top:20px;
}
.settings_save{
	border:2px solid black;
	background-color:white;
	font-size:20px;
	padding:10px 15px;
	cursor:pointer;
	outline:none !important;
}
.settings_save:hover{
	color:white;
	background-color:black;
	border-color:white;
}
.settings_keypress button,
.locale_buttons button{
	border:2px solid black;
	background-color:white;
	font-size:15px;
	padding:10px 15px;
	cursor:pointer;
	margin-right:5px;
	outline:none !important;
}
.locale_buttons .selected{
	text-decoration:underline;
}

.settings_keypress button:hover,
.locale_buttons button:hover{
	color:white;
	background-color:black;
	border-color:white;
}
.sb-specifics{
	display:flex;
	justify-content:center;
	align-items:center;
	position:absolute;
	z-index:1;
	left:0px;
	right:0px;
	bottom:0px;
	top:0px;
}
.intro_random span{
	font-family:monospace;
	font-size:12px;
	text-decoration:underline;
}
.flipped{
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}